Block-AzMaliciousFlow.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logAnalytics": {
            "type": "String",
            "metadata": {
                "description": "Log Analytics workspace ID where you send Traffic Analytics logs"
            }
        },
        "logicAppName": {
            "defaultValue": "Block-MaliciousFlow",
            "type": "String"
        },
        "office365ConnectionName": {
            "defaultValue": "office365",
            "type": "String"
        },
        "azureMonitorLogsName": {
            "defaultValue": "azureMonitorLogs",
            "type": "String"
        },
        "actionGroupName": {
            "defaultValue": "block-malicious-flows",
            "type": "String"
        },
        "scheduledQueryRuleName": {
            "defaultValue": "Malicious flows detected by NSG Traffic Analytics",
            "type": "String"
        },
        "sendEmailTo": {
            "type": "String",
            "metadata": {
                "description": "Recipient's email address"
            }
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "String"
        },
        "tags": {
            "type": "Object",
            "defaultValue": {
                "deploymentmode": "armtemplate",
                "description": "Block malicious flows"
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "microsoft.insights/actionGroups",
            "apiVersion": "2019-06-01",
            "name": "[parameters('actionGroupName')]",
            "location": "Global",
            "tags": "[parameters('tags')]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            ],
            "properties": {
                "groupShortName": "malicious",
                "enabled": true,
                "logicAppReceivers": [
                    {
                        "name": "[parameters('logicAppName')]",
                        "resourceId": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]",
                        "callbackUrl": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/manual'), '2016-06-01').value]",
                        "useCommonAlertSchema": false
                    }
                ]
            }
        },
        {
            "type": "microsoft.insights/scheduledqueryrules",
            "apiVersion": "2020-05-01-preview",
            "name": "[parameters('scheduledQueryRuleName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('tags')]",
            "dependsOn": [
                "[resourceId('microsoft.insights/actionGroups', parameters('actionGroupName'))]"
            ],
            "properties": {
                "displayName": "[parameters('scheduledQueryRuleName')]",
                "severity": 2,
                "enabled": true,
                "evaluationFrequency": "PT10M",
                "scopes": [
                    "[parameters('logAnalytics')]"
                ],
                "windowSize": "PT10M",
                "criteria": {
                    "allOf": [
                        {
                            "query": "AzureNetworkAnalytics_CL | where FlowType_s == 'MaliciousFlow' and FlowStatus_s == 'A'",
                            "timeAggregation": "Count",
                            "operator": "GreaterThanOrEqual",
                            "threshold": 1
                        }
                    ]
                },
                "actions": [
                    {
                        "actionGroupId": "[resourceId('microsoft.insights/actionGroups', parameters('actionGroupName'))]"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('office365ConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "Send email connection",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('azureMonitorLogsName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "Get Azure Monitor Logs",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', parameters('azureMonitorLogsName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Initialize_logAnalyticsWorkspaceId": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "logAnalyticsWorkspaceId",
                                        "type": "string",
                                        "value": "@if(empty(triggerBody()?['data']?['essentials']?['alertTargetIDs']), parameters('logAnalytics'), first(triggerBody()?['data']?['essentials']?['alertTargetIDs']))"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_email_body": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_NSG_rule_priority": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "rulePriority",
                                        "type": "integer",
                                        "value": 100
                                    }
                                ]
                            }
                        },
                        "Initialize_email_body": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "emailBody",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_NSG_rule_priority": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Get_Malicious_flows_from_Traffic_Analytics": {
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "AzureNetworkAnalytics_CL | where TimeGenerated >= todatetime(\"@{triggerBody()?['data']?['alertContext']?['condition']?['windowStartTime']}\") - 10m | extend SourceIP=SrcIP_s | extend DestinationIP=DestIP_s | extend SubscriptionId=tostring(split(NSGList_s, '/', 0)[0]) | extend NSGRuleAction = FlowStatus_s | extend NSGRuleName = NSGRule_s | extend NSGName=tostring(split(NSGList_s, '/', 2)[0]) | extend NSGRgName=tostring(split(NSGList_s, '/', 1)[0]) | where FlowType_s == 'MaliciousFlow' | project TimeGenerated, SubscriptionId, NSGRgName, NSGName, SourceIP, DestinationIP, Country_s | take 10",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "@first(skip(split(variables('logAnalyticsWorkspaceId'),'/'),4))",
                                    "resourcename": "@first(skip(split(variables('logAnalyticsWorkspaceId'),'/'),8))",
                                    "resourcetype": "@first(skip(split(variables('logAnalyticsWorkspaceId'),'/'),6))",
                                    "subscriptions": "@first(skip(split(variables('logAnalyticsWorkspaceId'),'/'),2))",
                                    "timerange": "last 24 hours"
                                }
                            },
                            "runAfter": {
                                "Initialize_logAnalyticsWorkspaceId": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "For_each_Malicious_flows": {
                            "type": "Foreach",
                            "foreach": "@body('Get_Malicious_flows_from_Traffic_Analytics')?['value']",
                            "actions": {
                                "Send_an_email_(V2)": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "Malicious flow detected from @{item()?['SourceIP']}",
                                            "Subject": "Alert: Malicious Flow Blocked",
                                            "To": "@parameters('complianceEmailAddress')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_Malicious_flows_from_Traffic_Analytics": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "parameters": {
                        "$connections": {
                            "type": "Object"
                        },
                        "logAnalytics": {
                            "type": "String"
                        },
                        "complianceEmailAddress": {
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                                "connectionName": "[parameters('office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
                            },
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureMonitorLogsName'))]",
                                "connectionName": "[parameters('azureMonitorLogsName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
                            }
                        }
                    },
                    "logAnalytics": {
                        "value": "[parameters('logAnalytics')]"
                    },
                    "complianceEmailAddress": {
                        "value": "[parameters('sendEmailTo')]"
                    }
                }
            }
        }
    ]
}
